<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="wrapper fadeInDown">
    <div class="formContent">
      <h2 class="active">Creation d'une Competencess</h2>
      <a routerLink="/listcompetence"><i class="fa fa-list" aria-hidden="true"></i>Lister Les competence</a>
      <div class="fadeIn first">
        <img src="https://aathifrupay.com/DesignFiles/img/loginpannel.png" id="icon" alt="User Icon" />
      </div>
      <form>
          <div class="row">
            <select name="langue" class="form-control ml-5 col-md-11">
                <option>Développer le back-end d'une application</option>
                <option value="francais">Développer le back-end d'une application</option>
                <option value="anglais">Développer le back-end d'une application</option>
                <option value="espagnol">Développer le back-end d'une application</option>
            </select>
            <div class="col-md-12">
                <input type="text" class="fadeIn second" name="titre" placeholder="Libelle">
                <button>Niveau1</button><button>Niveau2</button><button>Niveau3</button>
                <input type="text" class="fadeIn second" name="lieu" placeholder="Groupe d'actions à realiser">
                <input type="text" class="fadeIn second" name="lieu" placeholder="Critères d'évaluation">
                
              </div>
          </div>
          
        <input type="submit" class="fadeIn fourth" value="Enregistrer la promotion" >
      </form>
    </div>
  </div>
</body>
</html>