<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper fadeInDown">
    <div class="formContent">
        <h2 class="active">Creation de d'utilisateur</h2>
        <a routerLink="/home/listerUsers"><i class="fa fa-list" aria-hidden="true"></i>Lister Les utilisateurs</a>
        <div class="fadeIn first">
        <img src="https://aathifrupay.com/DesignFiles/img/loginpannel.png" id="icon" alt="User Icon" />
        </div>
        <form>
            <input type="text" class="fadeIn second" name="nom" placeholder="Nom">
            <input type="text"  name="prenom" class="fadeIn third" placeholder="Prenom">
            <input type="text" class="fadeIn second" name="email" placeholder="Email">
            <select name="langue" class="form-control col-md-6">
                <option>Profil</option>
                <option value="francais">Formateur</option>
                <option value="anglais">Administrateur</option>
                <option value="espagnol">CM </option>
            </select>
            <input type="file" class="fadeIn second">
            
        <input type="submit" class="fadeIn fourth" value="Connexion" >
        </form>
        <div class="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    </div>
    </div>
</body>
</html>
        