<div class="container">
    <div class="row md-12 mt-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><h1>Liste des Referentiels</h1></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><a routerLink="/referentiel"><i class="fa fa-plus" aria-hidden="true"></i>Ajouter Un Referentiel</a></th>
                </tr>
            </thead>
            <thead>
            <tr class="table-primary">
                <th scope="col">Libelle</th>
                <th scope="col">Presentation</th>
                <th scope="col">Groupe De Competences</th>
                <th scope="col">Programme</th>
                <th scope="col">Critere Evaluation</th>
                <th scope="col">Critere Evaluation</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-active">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><i class="fa fa-trash mr-3" aria-hidden="true"></i><i class="fa fa-wrench" aria-hidden="true"></i></td>
            </tr>
            <tr class="table-secondary">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>