<div class="row col-md-3" >
    <div class="wrapper fadeInDown">
        <div class="formContent">
            <h2 class="active">Modifier un Utilisateur</h2>
            <div class="fadeIn first">
              <img src="https://aathifrupay.com/DesignFiles/img/loginpannel.png" id="icon" alt="User Icon" />
            </div>
            <form formGroup]="editForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input type="text" class="fadeIn second" name="id" placeholder="ID" formControlName="id" id="id">
              </div>
              <div class="form-group">
                <input type="text" formControlName="nom" class="fadeIn second" name="nom" placeholder="Nom" id="nom">
              </div>
              <div class="form-group">
                <input type="text" formControlName="prenom"  name="prenom" id="prenom" class="fadeIn third" placeholder="Prenom">
              </div>
              <div class="form-group">
                <input type="text" class="fadeIn second" formControlName="email" name="email" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <select name="langue" class="form-control col-md-6">
                    <option>Profil</option>
                    <option value="francais">Formateur</option>
                    <option value="anglais">Administrateur</option>
                    <option value="espagnol">CM </option>
                </select>
              </div>
              <div class="form-group">
                <input type="file">
              </div>
                <button type="submit" class="fadeIn fourth"><a href="/home/listerUsers">Soumettre</a> </button>
            </form>
        </div>
    </div>
  </div>


<!--<div class="col-md-6 user-container">
    <h2 class="text-center">Edit User</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="hidden">
        <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
      </div>
      <div class="form-group">
        <label for="nom">User Name:</label>
        <input type="text" formControlName="nom" placeholder="nom" name="nom" class="form-control" id="nom" >
      </div>
  
      <div class="form-group">
        <label for="prenom">First Name:</label>
        <input formControlName="prenom" placeholder="First Name" name="prenom" class="form-control" id="prenom">
      </div>
  
      <div class="form-group">
        <label for="email">Last Name:</label>
        <input formControlName="email" placeholder="Last name" name="email" class="form-control" id="email">
      </div>
  
      <button class="btn btn-success">Update</button>
    </form>
  </div>-->