<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper fadeInDown">
    <div class="formContent">
        <h2 class="active">Creation de d'utilisateur</h2>
        <a routerLink="/home/listGroupCompetence"><i class="fa fa-list" aria-hidden="true"></i>Lister Les groupes de competences</a>
        <div class="fadeIn first">
        <img src="https://aathifrupay.com/DesignFiles/img/loginpannel.png" id="icon" alt="User Icon" />
        </div>
        <form [formGroup]="form">
            <input type="text" class="fadeIn second" name="libelle" placeholder="Libelle" formControlName="libelle">
            <textarea name="description" id="description" cols="10" class="fadeIn third" rows="2" formControlName="description">Desciption</textarea>

            <div class="chips">
            <ng-multiselect-dropdown
            
            [placeholder]="'Selectionner une groupe de competences'"
            formControlName="competences"
            [data]="objetCompetences"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            >
          </ng-multiselect-dropdown>
        </div>


            <!--<select [multiple]="true" class="form-control col-md-9" name="competence" id="competence" formControlName="competence">
                <option *ngFor="let objetCompetence of objetCompetences" value="{{objetCompetence.id}}">{{objetCompetence.libelle}}</option>
            </select>-->
            <input type="submit" class="fadeIn fourth" value="Soumettre" (click)="onSubmit()" >
        </form>
    </div>
    </div>
</body>
</html>
        