<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper fadeInDown">
    <div class="formContent">
        <h2 class="active">Creation de d'utilisateur</h2>
        <a routerLink="/listGroupCompetence"><i class="fa fa-list" aria-hidden="true"></i>Lister Les groupes de competences</a>
        <div class="fadeIn first">
        <img src="https://aathifrupay.com/DesignFiles/img/loginpannel.png" id="icon" alt="User Icon" />
        </div>
        <form>
            <input type="text" class="fadeIn second" name="nom" placeholder="Libelle">
            <textarea name="" id="description" cols="30" class="fadeIn third" rows="5">Desciption</textarea>
            <textarea name="" id="competence" cols="30" class="fadeIn third" rows="5">competence</textarea>
        <input type="submit" class="fadeIn fourth" value="Soumettre" >
        </form>
    </div>
    </div>
</body>
</html>
        