<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper fadeInDown">
    <div class="formContent">
        <h2 class="active">Gestion Des Tags</h2>
        <a routerLink="/listTags"><i class="fa fa-list" aria-hidden="true"></i>Liste des Tags</a>
        <div class="fadeIn first">
        <img src="https://aathifrupay.com/DesignFiles/img/loginpannel.png" id="icon" alt="User Icon" />
        </div>
        <form>
            <input type="text" class="fadeIn second" name="nom" placeholder="Libelle">
            <textarea name="" id="tags" cols="30" class="fadeIn third" rows="5">Tags</textarea>
            <input type="submit" class="fadeIn fourth" value="Soumettre" >
            <label for="groupeComp">Groupe De Competences</label>
            <button>Développement Mobile</button>
            <button>Développement Mobile</button>
            <button>Développement Mobile</button>
            <label for="tag">Tags</label>
            
        </form>
        <div class="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    </div>
    </div>
</body>
</html>
        